:root {
  --vp-home-hero-name-color: #fc5c7d !important;

  --vp-c-brand: #fc5c7d !important;
  --vp-c-brand-dark: #f02952 !important;
  --vp-c-brand-darker: #f02952 !important;
  --vp-c-brand-light: #fc5c7d !important;
  --vp-c-brand-lighter: #fc5c7d !important;
}
